<h2>Mental Status Form for <%=@client.first_name%> <%=@client.last_name%></h2>
<p>Client Medical Record ID#:<%=@client.medical_record_id%></p>

<ul>
  <li><b><p>Orientation:</p></b></li>
<%=@client.record.ment_orientation%>
  <li><b><p>Appearance:</p></b></li>
<%=@client.record.ment_appearance%>
  <li><b><p>Behavior:</p></b></li>
<%=@client.record.ment_behavior%>
  <li><b><p>Speech:</p></b></li>
<%=@client.record.ment_speech%>
  <li><b><p>Thought:</p></b></li>
<%=@client.record.ment_thought%>
  <li><b><p>Affect:</p></b></li>
<%=@client.record.ment_affect%>
  <li><b><p>Mood:</p></b></li>
<%=@client.record.ment_mood%>
  <li><b><p>Memory:</p></b></li>
<%=@client.record.ment_memory%>
  <li><b><p>Concentration:</p></b></li>
<%=@client.record.ment_concentration%>
  <li><b><p>Cognition:</p></b></li>
<%=@client.record.ment_cognition%>
  <li><b><p>Sleep:</p></b></li>
<%=@client.record.ment_sleep%>
  <li><b><p>Appetite:</p></b></li>
<%=@client.record.ment_appetite%>
  <li><b><p>Judgment:</p></b></li>
<%=@client.record.ment_judgment%>
  <li><b><p>Insight:</p></b></li>
<%=@client.record.ment_insight%>
  <li><b><p>Self-Reported Behaviors</b> (Symptoms/Stressors Affecting Ability to Function):</p></li>
<%=@client.record.ment_self_behavior%>
  <li><b><p>Compulsions:</p></b></li>
<%=@client.record.ment_compulsions%>
<br></br>


<form method="GET" action="../../clients/<%=@client.id%>">
<input type="submit" value="Client Main Page">
</form>
<br></br>

<form method="GET" action="../../therapists/<%=@therapist.id%>">
  <input type="submit" value="Homepage">
</form>
<br></br>

<form method="GET" action="/logout">
  <input type="submit" value="Logout">
</form>