<form method="POST" action="/therapists/<%= @therapist.id %>/edit">
<input id="hidden" type="hidden" name="_method" value="patch">

<div class="listr1">
<h2><%=@therapist.first_name%> <%=@therapist.last_name%>, <%=@therapist.license_type%></h2>
<hr>
</div>


<div class="bloc1">
<h3>Edit any of the following fields and press "Update":</h3>
  First Name: <input type="text" name="therapist[first_name]" value="<%=@therapist.first_name%>" placeholder="<%=@therapist.first_name%>">
  <br></br>
  Last Name: <input type="text" name="therapist[last_name]" value="<%=@therapist.last_name%>" placeholder="<%=@therapist.last_name%>">
  <br></br>
  License Type: <input type="text" name="therapist[license_type]" value="<%=@therapist.license_type%>"placeholder="<%=@therapist.license_type%>">
  <br></br>
  License Number: <input type="text" name="therapist[license_number]" value="<%=@therapist.license_number%>" placeholder="<%=@therapist.license_number%>">
  <br></br>
  <input type="submit" value="Update">
</div>
</form>


