<div class="intro">
<h2><%=@therapist.first_name%> <%=@therapist.last_name%>, <%=@therapist.license_type%>
<form method="link" action="/therapists/<%= @therapist.id %>/edit">
  <input type="submit" value="Edit Therapist">
</form></h2>
</div>

<div class="narr">
<h3>Current clients:</h3>
<ul class="navigation">
<%if @clients %>  
<% @clients.each do |client| %>

<li><a href="/clients/<%=client.id%>"><%=client.last_name%>, <%=client.first_name%></a></li>
<%end%>
<%end%>
</ul>

<form method="link" action="/clients/new">
  <input type="submit" value="Create Client">
</form>
<br></br>
<br></br>
<form method="GET" action="/logout">
  <input type="submit" value="Logout">
</form>
</div>




