<div class="listr1">
    <h2>Suicide Assessment for <%=@client.first_name%> <%=@client.last_name%></h2>
    <b>Medical Record Number:</b>
    <%=@client.medical_record_id%>
        <br></br>
        <hr>
</div>
<div class="bloc1">
    <table>
        <tr>
            <th></th>
            <th scope="col">Past Month</th>
            <th scope="col">Lifetime</th>
        </tr>
        <tr>
            <th scope="row">Ideation:</th>
            <td>
                <%=@record.sui_ideation_past%>
            </td>
            <td>
                <%=@record.sui_ideation_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Thoughts:</th>
            <td>
                <%=@record.sui_thoughts_past%>
            </td>
            <td>
                <%=@record.sui_thoughts_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Frequency:</th>
            <td>
                <%=@record.sui_freq_past%>
            </td>
            <td>
                <%=@record.sui_freq_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Intensity:</th>
            <td>
                <%=@record.sui_strength_past%>
            </td>
            <td>
                <%=@record.sui_strength_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Duration:</th>
            <td>
                <%=@record.sui_dur_past%>
            </td>
            <td>
                <%=@record.sui_dur_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Controllability:</th>
            <td>
                <%=@record.sui_control_past%>
            </td>
            <td>
                <%=@record.sui_control_present%>
            </td>
        </tr>

        <tr>
            <th scope="row">Plan:</th>
            <td>
                <%=@record.sui_plan_past%>
            </td>
            <td>
                <%=@record.sui_plan_present%>
            </td>
        </tr>

        <tr>
            <th scope="row">Intent:</th>
            <td>
                <%=@record.sui_intent_past%>
            </td>
            <td>
                <%=@record.sui_intent_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Attempts:</th>
            <td>
                <%=@record.sui_attempt_past%>
            </td>
            <td>
                <%=@record.sui_attempt_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Reasons:</th>
            <td>
                <%=@record.sui_reason_past%>
            </td>
            <td>
                <%=@record.sui_reason_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Family History:</th>
            <td>
                <%=@record.sui_family_past%>
            </td>
            <td>
                <%=@record.sui_family_present%>
            </td>
        </tr>
        <tr>
            <th scope="row">Deterrents:</th>
            <td>
                <%=@record.sui_deterrents_past%>
            </td>
            <td>
                <%=@record.sui_deterrents_present%>
            </td>
        </tr>

        <tr>
            <th scope="row">Self Harm:</th>
            <td>
                <%=@record.sui_selfinjure_past%>
            </td>
            <td>
                <%=@record.sui_selfinjure_present%>
            </td>
        </tr>
    </table>
</div>
<br></br>

<div class="listr1">
    <form method="GET" action="/../../clients/<%=@client.id%>">
        <input type="submit" value="Client Main Page">
    </form>
    <br></br>

    <form method="GET" action="/../../therapists/<%=@therapist.id%>">
        <input type="submit" value="Homepage">
    </form>
    <br></br>

    <form method="GET" action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>