<div class="listr1">
<h2>Client: <br></br>
  <%=@client.last_name%>, <%=@client.first_name%></h2>
<h4>Medical Record #: <%=@client.medical_record_id%></h4>

<form method="POST" action="/clients/<%= @client.id %>/edit">
<input id="hidden" type="hidden" name="_method" value="patch">
</div>

<div class="bloc1">
  First Name: <input type="text" name="client[first_name]" value="<%=@client.first_name%>"placeholder="<%=@client.first_name%>">
  <br></br>
  Last Name: <input type="text" name="client[last_name]" value="<%=@client.last_name%>" placeholder="<%=@client.last_name%>">
  <br></br>
  Date of Birth: <input type="text" name="client[date_of_birth]" value="<%=@client.date_of_birth%>"placeholder="<%=@client.date_of_birth%>">
  <br></br>
  Address: <br></br>
  <input type="text" size="50" name="client[address]" value="<%=@client.address%>"placeholder="<%=@client.address%>"></input>
    <br></br>
  Phone Number: <input type="text" name="client[phone]" value="<%=@client.phone%>"placeholder="<%=@client.phone%>">
  <br></br>
</div>
<div class="listr1">
  <input type="submit" value="Update Client">
</form>
</div>



