<h2>Summary for <%=@client.first_name%> <%=@client.last_name%></h2>
<b>Medical Record Number:</b> <%=@client.medical_record_id%>
<br></br>

<i>Currently under the care of <%=@therapist.first_name%> <%=@therapist.last_name%>, <%=@therapist.license_type%></i>
<br></br>


<h3>Client's Presenting Problem:</h3>
<%=@client.record.bio_presenting_problem%><br></br>

<h3>Clinical Analysis:</h3>
<%=@client.record.bio_clinical_analysis%><br></br>

<h3>Treatment Recommendations:</h3>
<%=@client.record.bio_treatment_recommendations%><br></br>


<form method="GET" action="../../clients/<%=@client.id%>">
<input type="submit" value="Client Main Page">
</form>
<br></br>

<form method="GET" action="../../therapists/<%=@therapist.id%>">
  <input type="submit" value="Homepage">
</form>
<br></br>

<form method="GET" action="/logout">
  <input type="submit" value="Logout">
</form>